/* Basic footer appearance */
.footer {
    width: 100%;
    height: 12.5vw;

    color: rgba(203, 203, 203, 0.2);

    margin-top: 5vw;
    background-color: rgb(31, 31, 41);
    text-align: center;
}

/* Footer line style */
.lineFooter {
    border-color: rgba(203, 203, 203, 0.2);
    border-style: inset;
    width: 90%;
}

/* Basic footer text appearance */
.footerInfo {
    float: left;
    text-align: justify;
    margin: 2vw 13.15% 1vw 13.15%;
}

.footerCredits {
    text-align: center;
}

.link:visited, .link:link, .link:active {
    text-decoration: none;
    color: var(--primaryGray);
}

.link:hover {
    color: var(--secondaryGray);
}