:root {
    --titleLoadTime: 0.4s;
    --buttonLoadTime: 0.7s;
    --paragraphTitleLoadTime: 0.5s;
    --paragraphLoadTime: 0.5s;
}

@keyframes title-load {
    0% {
        transform: scale(0) translateY(-4vw)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1) translateY(0)
    }
}

@keyframes button-load {
    0% {
        transform: scale(0) translate(-50%, -55%)
    }
    80% {
        transform: scale(1.1) translate(-50%, -55%)
    }
    100% {
        transform: scale(1) translate(-50%, -50%)
    }
}

@keyframes paragraph-title-load {
    0% {
        opacity: 20%;
        transform: scale(0);
    }
    80% {
        opacity: 100%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes paragraph-load {
    0% {
        opacity: 20%;
        transform: scale(0);
    }
    80% {
        opacity: 100%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

.indexTopImageTitle2, .indexBottomImageTitle {
    animation: paragraph-title-load var(--paragraphTitleLoadTime) ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.indexTopImageText, .indexBottomImageText {
    animation: paragraph-load var(--paragraphLoadTime) ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Document length */
.content {
    width: 100%;
    height: 220vw;
    margin-top: 5vw;
}

/* Logo near the face */
.indexLeftLogo {
    z-index: -1;
    width: 65vw;
    height: 65vw;

    position: absolute;
    opacity: 3%;
    top: -20vw;
    left: -30vw;
}

/* Container of first background image */
.topImageContainer {
    width: 100%;
    height: 110vw;
}

/* First background image */
.indexImageTop {
    width: 100%;
    height: 110vw;
}

/* First title */
.indexTopImageTitle {
    position: absolute;
    top: 22.5vw;
    left: 40vw;

    animation: title-load var(--titleLoadTime) ease-out;
    animation-fill-mode: forwards;
    transform: scale(0);
}

/* Button position*/
.indexImageButton {
    position: absolute;
    background-color: #0f1c24;
    top: 41.5vw;
    left: 52vw;
    transform: translate(-50%, -55%) scale(1);
    /*-ms-transform: translate(-50%, -50%);*/
    font-size: 3vw;
    font-family: 'Verdana', bold, serif;
    font-weight: 600;
    padding: 1vw 6.5vw;
    border: none;
    cursor: pointer;
    border-radius: 2vw;
    transition: 0.7s;
    outline: none;

    animation: button-load var(--buttonLoadTime) ease-out;
    animation-fill-mode: forwards;
}

/* Button animation on hover*/
.indexImageButton:hover {
    letter-spacing: 0.8vw;
    transition: 0.7s;
}

/* Location after click explore button */
#myLandLink {
    position: absolute;
    top: 55vw;
}

/* Second title */
.indexTopImageTitle2 {
    position: absolute;
    top: 59vw;
    left: 22.5vw;
}

/* First text */
.indexTopImageText {
    width: 45%;
    position: absolute;
    top: 72vw;
    left: 23vw;
}

.limeBackgroundLeft {
    z-index: -1;
    position: absolute;
    background-color: #1fdc75;
    width: 70%;
    height: 70vw;
    top: 80vw;
    left: 0;
}

.limeBackgroundRight {
    z-index: -1;
    position: absolute;
    background-color: #1fdc75;
    width: 50%;
    height: 55vw;
    top: 105vw;
    left: 50%;
}

/* First flip card container */
.gameCard-1 {
    position: absolute;
    width: 18vw;
    height: 25vw;
    top: 105vw;
    left: 3vw;
}

/* Second flip card container */

.gameCard-2 {
    position: absolute;
    width: 18vw;
    height: 25vw;
    top: 110vw;
    left: 34vw;
}

/* Third flip card container */
.gameCard-3 {
    position: absolute;
    width: 18vw;
    height: 25vw;
    top: 117vw;
    left: 67vw;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    width: 18vw;
    height: 25vw;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 18vw;
    height: 25vw;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 18vw;
    height: 25vw;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #131920;
    border: 1vw;
    border-radius: 1vw;
    line-height: 1vw;
}


.flip-card-front-title {
    padding-top: 1vw;

    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.3vw;
    line-height: 4vw;
}

.flip-card-front img {
    padding-top: 1.5vw;
    width: 10vw;
    height: 10vw;
}

.flip-card-front hr {
    width: 70%;
    height: 0.3vw;
    border-color: white;
    border-radius: 1vw;
    background-color: white;
}

/* Style the back side */
.flip-card-back {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    text-align: justify;

    background-color: #131920;
    border: 1vw;
    border-radius: 1vw;
    transform: rotateY(180deg);
}

.flip-card-back-text {
    padding: 1.5vw;
}

.flip-card-back-title {
    font-family: 'Oswald', bold, serif;
    font-size: 2.5vw;
    text-align: center;
}

/* Container of first background image */
.bottomImageContainer {
    margin-top: 10vw;
    width: 100%;
    height: 110vw;
}

/* First background image */
.indexImageBottom {
    width: 100%;
    height: 110vw;
}

/* Third title */
.indexBottomImageTitle {
    position: absolute;
    top: 149vw;
    left: 45.5vw;
}

/* Second text */
.indexBottomImageText {
    width: 45%;
    position: absolute;
    top: 162vw;
    left: 46vw;
}