:root {
    --navLoadTime: 0.4s;
    --navContentLoadTime: 0.5s;
    --navContentLoadDelay: var(--navLoadTime);
    --homeColor: #0bf7d5;
    --cvColor: #0bf9da;
    --toolsColor: #0cf9bf;
    --gamesColor: #0df9af;
    --aboutColor: #0df99a;
    --contactColor: #0ef995;
}

@keyframes nav-load {
    0% {
        transform: translatey(-100%)
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes navbar-text-load {
    0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

/* Navbar and button colors */
.navbar {
    z-index: 9;
    width: 100%;
    height: 3.5vw;
    background-color: #2f2f3f;
    animation: nav-load var(--navLoadTime) ease-out;
    animation-fill-mode: forwards;
    transform: translateY(-100%);
}

.activeSite {
    background-color: #39394b;
}

/* Buttons and text positioning */
.buttonLeft {
    float: left;
    text-align: center;
}

.buttonRight {
    float: right;
    text-align: center;
}

#navbarLogo, #contactText, #aboutText, #gamesText, #toolsText, #cvText, #homeText {
    animation: navbar-text-load var(--navLoadTime) ease-out var(--navContentLoadDelay);
    animation-fill-mode: forwards;
    transform: scale(0);
}

/* Sticky navbar script */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navbar content (from left side) */
.logoButton {
    width: 15%;
    height: 3.5vw;
    margin-left: 0.5vw;
    margin-right: 1vw;
}

#navbarLogo {
    width: 3.5vw;
    height: 3.5vw;
    transition: 0.5s;
}

.homeButton {
    width: 7%;
    height: 3.5vw;
    color: var(--homeColor);
}

.cvButton {
    width: 5%;
    height: 3.5vw;
    color: var(--cvColor);
}

.toolsButton {
    width: 12%;
    height: 3.5vw;
    color: var(--toolsColor);
}

.gamesButton {
    width: 13%;
    height: 3.5vw;
    color: var(--gamesColor);
}

.aboutButton {
    width: 12%;
    height: 3.5vw;
    color: var(--aboutColor);
}

.contactButton {
    width: 16%;
    height: 3.5vw;
    color: var(--contactColor);
}

/* Text animations on hover */
.textButton {
    transition: 0.5s;
}

.textButton:hover {
    font-size: 2.3vw;
    transition: 0.5s;
}