
#container {
    height: 50vw;

    margin-top: 3vw;
}

#board {
    margin-left: 2.5vw;
    float: left;

    background-color: #1b2733;
    width: 40vw;
    height: 50vw;

    border: 0.5vw solid #1b2733;
    border-radius: 1vw;
}

.card {
    background-color: transparent;
    width: 9vw;
    height: 9vw;

    margin-left: 0.75vw;
    margin-top: 0.75vw;
    float: left;

    text-align: center;

    perspective: 1000px;
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flippedCard .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 8vw;
    height: 8vw;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardFront {
    background-color: #00e0a8;
    color: black;
    border: 0.5vw solid #00e0a8;
    border-radius: 0.25vw;
}

.cardBack {
    background-color: #1fdc58;
    color: #161824;
    transform: rotateY(180deg);
    border: 0.5vw solid #1fdc58;
    border-radius: 0.25vw;
}

#sideBar {
    width: 48vw;
    height: 50vw;

    float: left;
    margin-left: 5vw;

    border: 0.5vw solid #1b2733;
    border-radius: 1vw;

    background-color: #1b2733;
}

#progressBackground {
    width: 42vw;
    height: 0.3vw;
    border: 2.5vw solid #00e0a8;
    border-radius: 0.25vw;

    margin: 0.5vw;
    background-color: #00e0a8;
}

#progressText {
    opacity: 95%;
    text-align: center;
}

#progressPercents {
    margin-top: 1vw;

    opacity: 95%;
    color: white;
    text-align: center;
}

#blankBar {
    width: 46vw;
    height: 1vw;
    border: 0.25vw gray;
    border-radius: 0.2vw;

    background-color: gray;
}

.barContainer{
    margin-top: 10vw;
    margin-left: 0.6vw;
}

#progressBar {
    width: 0;
    height: 1vw;

    border: 0.25vw #1fdc58;
    border-radius: 0.2vw;

    opacity: 95%;
    background-color: #1fdc58;
}

.statsBackground {
    width: 14.35vw;
    height: 7vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    background-color: #101b22;

    border: 0.5vw solid #101b22;
    border-radius: 0.5vw;
    float: left;
}

#stats {
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}

#timer {
    width: 30vw;
    height: 10vw;
    float: left;
    text-align: center;
    opacity: 95%;
}

#steps {
    width: 40vw;
    height: 10vw;
    text-align: center;
    opacity: 95%;
}
