
#container {
    height: 50vw;

    margin-top: 3vw;
}

#board {
    margin-left: 2.5vw;
    float: left;

    background-color: #1b2733;
    width: 40vw;
    height: 50vw;

    border: 0.5vw solid #1b2733;
    border-radius: 1vw;
}

.card {
    background-color: transparent;
    width: 9vw;
    height: 9vw;

    margin-left: 0.75vw;
    margin-top: 0.75vw;
    float: left;

    text-align: center;

    perspective: 1000px;
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flippedCard .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 8vw;
    height: 8vw;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardFront {
    background-color: #00e0a8;
    color: black;
    border: 0.5vw solid #00e0a8;
    border-radius: 0.25vw;
}

.cardBack {
    background-color: #1fdc58;
    color: #161824;
    transform: rotateY(180deg);
    border: 0.5vw solid #1fdc58;
    border-radius: 0.25vw;
}

#sideBar {
    width: 48vw;
    height: 50vw;

    float: left;
    margin-left: 5vw;

    border: 0.5vw solid #1b2733;
    border-radius: 1vw;

    background-color: #1b2733;
}

.titleBackground {
    width: 42vw;
    height: 0.3vw;
    border: 2.5vw solid #00e0a8;
    border-radius: 0.25vw;

    margin: 0.5vw;
    background-color: #00e0a8;
}

.titleBackgroundPos1 {
    position: absolute;
    top: 7vw;
    left: 49vw;
    margin: 0.5vw;
    background-color: #00e0a8;
}

.titleBackgroundPos2 {
    position: absolute;
    top: 38vw;
    left: 49vw;
    margin: 0.5vw;
    background-color: #00e0a8;
}

.titlePosition1, .titlePosition2{
    width: 46.8vw;
    height: 0.3vw;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 0.35vw;
}

.titlePosition1{
    position: absolute;
    top: -2.8vw;
    left: -2.2vw;
}

.titlePosition2{
    position: absolute;
    top: -2.8vw;
    left: -2.2vw;
}

#rulesText, #statsText {
    opacity: 95%;
    text-align: center;
}

.RulesDescription{
    margin-top: 7vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.barContainer{
    position: absolute;
    top: 53.8vw;
    left: 49.6vw;
    width: 46.8vw;
}

#progressPercents {
    position: absolute;
    top: -0.2vw;
    left: 22vw;

    opacity: 50%;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

#blankBar {
    width: 46.8vw;
    height: 2vw;
    border: 0.25vw gray;
    border-radius: 0.2vw;

    background-color: gray;
}

#progressBar {
    width: 0;
    height: 2vw;

    border: 0.25vw #1fdc58;
    border-radius: 0.2vw;

    opacity: 95%;
    background-color: #1fdc58;
}

.statsBackground {
    width: 14.35vw;
    height: 7vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    background-color: #101b22;

    border: 0.5vw solid #101b22;
    border-radius: 0.5vw;
    float: left;
}

#statsContainer {
    position: absolute;
    top: 42.4vw;
    left: 49vw;

    width: 50vw;
    height: 10vw;
    margin-top: 2vw;
}

#timer, #steps{
    z-index: 11;
    position: absolute;
    top: 46.5vw;

    font-size: 3.5vw;
    text-align: left
}

.timerImage {
    z-index: 10;
    position: absolute;

    opacity: 95%;
    top: 46.1vw;
    left: 49.5vw;

    width: 6vw;
    height: 6vw;

}

#timer {
    left: 56vw;

    width: 10vw;
    height: 10vw;

}

#steps {
    left: 67.5vw;
    width: 10vw;
    height: 10vw;
}
