.container {
    width: 100%;
    height: 61vw;
}

.hangManLogo {
    position: absolute;
    top: 7vw;
    left: 70.5vw;

    width: 20vw;
    height: 18vw;
}

.guessedWord {
    position: absolute;
    top: 49.5vw;
    left: 5vw;

    font-family: 'Dancing Script', cursive;
    font-size: 5.5vw;
}

.guessedLetter {
    float: left;
    width: 5.5vw;
    text-align: center;

    font-family: 'Kristen ITC', cursive;
}

.guessedLetter-pre-animation {
    font-size: 4.5vw;
    transition: 0.5s;
}

.guessedLetter-animation {
    font-size: 0.5vw;
}

.guessWordByUser {
    position: absolute;
    top: 27.5vw;
    left: 68.5vw;
    height: 3vw;
    width: 24.3vw;

    border-color: var(--primaryColor);
    border-radius: 1vw;
    border-width: 0.25vw;
    border-style: solid;
}

.typeWord{
    padding-left: 1vw;
    width: 80%;
    height: 100%;

    float: left;

    font-family: 'Kristen ITC', cursive;
    font-size: 2.5vw;

    border: none;
    outline: none;
    background-color: transparent;
}

.typeWord::placeholder, .typeWord:-ms-input-placeholder, .typeWord::-ms-input-placeholder{
    color: var(--secondaryGray)
}

.submitWord{
    position: relative;
    top: -0.25vw;

    height: 115%;
    width: 13.6%;

    float: right;
    text-align: center;

    font-family: 'Kristen ITC', cursive;
    font-size: 2.2vw;

    border-radius: 0.5vw;
    transition: 0.5s;
}

.submitWordSymbol{
    position: relative;
    top: 0.3vw;
}

.submitWord:hover, .submitWord:active{
    background-color: var(--primaryColor);
    color: var(--primaryBlack);
    transition: 0.5s;
}

.lettersContainer {
    position: absolute;
    left: 68.5%;
    top: 33vw;
    width: 25%;
    height: 25vw;
}

.firstRow, .secondRow, .thirdRow, .fourthRow {
    height: 25%;
    width: 100%;

    text-align: center;

    font-family: 'Kristen ITC', cursive;
    font-size: 2.5vw;

    letter-spacing: 0.5vw;
    color: var(--primaryBlack);
    transition: 0.2s;
}

.firstRow, .thirdRow {
    background-color: #25e37b;
}

.secondRow, .fourthRow {
    background-color: #1fdc75;
}

.letterCell {
    position: relative;
    top: 25%;

    height: 100%;
    width: 14.28%;
    float: left;
}

.letterCell:hover {
    color: var(--primaryWhite);
    transition: 0.2s;
}

.footer {
    margin-top: 0;
}

.gallow {
    position: absolute;
    top: -11vw;
    left: 2vw;

    width: 50vw;
    height: 70vw;
}

.playAgainSvg {
    position: absolute;
    top: 16vw;
    left: -7.5vw;

    transform: rotate(5deg);

    width: 25vw;
    height: 35vw;
}